.header-body {
	position: relative;
	overflow: hidden;
}

.slider-header {
	height: 200px;
}

.slider-header__image {
	object-fit: cover;
	@include image(100%, 100%);
}

.slider-header__invitation-text {
	position: absolute;
	top: 35%;
	left: 20%;
	right: 20%;
	font-size: 24px;
	text-align: center;
	text-shadow: 10px 10px 8px black;
	letter-spacing: 2px;
	color: map-get($colors, 'secondary');
	font-family: map-get($fonts-family, 'elegance' );	
	background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.slider-header__invitation-text-intro {
	display: inline-block;
	margin-bottom: 15px;	
	font-weight: bolder;  
	font-family: map-get($fonts-family, 'main' );
}


@include media(medium) {
	.slider-header {
		height: 250px;
	}
}


@include media(large) {
	.slider-header {
		height: 280px;
	}

	.slider-header__invitation-text {
		font-size: 36px;
	}
}


@include media(x-large) {
	.slider-header {
		height: 380px;
	}

	.slider-header__invitation-text {
		font-size: 42px;
	}
}