.navbar {
	height: 40px;
	color: map-get($colors, 'secondary');
	background: map-get($colors, 'main');
}

.navbar__toggle {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	font-size: 17px;
	text-decoration: none;
	font-family: map-get($fonts-family, 'main');
	color: map-get($colors, 'secondary');
}

.navbar__toggle-icon {
	font-size: 22px;
}


.navbar-container {
	font-size: 15px;
	font-family: map-get($fonts-family, 'main');
	color: map-get($colors, 'secondary');
	background-color: map-get($colors, 'complementary');;
}

.navbar-container__item {
  padding: 7px;
  border-bottom: 1px solid #fff;
}

.navbar-container__link {
	text-decoration: none;
	color: map-get($colors, 'secondary');
}