.place-card {
	@include card-container(
		100%, 
		358px, 
		12px, 
		0 0 25px, 
		map-get($colors, 'secondary')
	);
}

.place-card__image {
	@include image(auto, 148px);
}

.place-card__title {
	@include title(
		5px, 
  	15px 0, 
  	map-get($fonts-family, 'main'), 
  	18px, 
  	map-get($fonts-weight, 'normal'), 
  	center, 
  	map-get($colors, 'main')
	);
}

.place-card__description {
	height: 60px;
	overflow: hidden;
	@include text(
		map-get($fonts-family, 'main'), 
		13px, 
		20px, 
		map-get($colors, 'complementary')
	);
}

.place-card__link {
	@include link-button (
		5px 15px	,
		25px 0 0 0,
		1px solid #A8B1B8,
		map-get($colors, 'secondary'),
		map-get($colors, 'main')
	);
}


.dishe-card {	
	@include card-container(
		100%, 
		auto, 
		0, 
		0 5px 30px, 
		map-get($colors, 'secondary')
	);
	background-color: transparent;
}

.dishe-card__image {
	display: block;
	box-sizing: border-box;
	padding: 4px;
	margin: 0 auto;
	background: map-get($colors, 'secondary');
	@include image(100%, auto);
}

.dishe-card__title {
	@include title(
  	8px 0, 
  	10px 0, 
  	map-get($fonts-family, 'main'),  
  	13px, 
  	map-get($fonts-weight, 'normal'),  
  	center,
  	map-get($colors, 'complementary')
	)
}