.place-card {
	@include card-container(
		100%, 
		358px, 
		12px, 
		0 0 25px, 
		map-get($colors, 'secondary')
	);
}

.place-card__image {
	@include image(auto, 148px);
}

.place-card__title {
	@include title(
		5px, 
  	15px 0, 
  	map-get($fonts-family, 'main'), 
  	18px, 
  	map-get($fonts-weight, 'normal'), 
  	center, 
  	map-get($colors, 'main')
	);
}

.place-card__description {
	height: 60px;
	overflow: hidden;
	@include text(
		map-get($fonts-family, 'main'), 
		13px, 
		20px, 
		map-get($colors, 'complementary')
	);
}

.place-card__link {
	@include link-button (
		5px 15px	,
		25px 0 0 0,
		1px solid #A8B1B8,
		map-get($colors, 'secondary'),
		map-get($colors, 'main')
	);
}


.dishe-card {	
	@include card-container(
		100%, 
		auto, 
		0, 
		0 5px 30px, 
		map-get($colors, 'secondary')
	);
	background-color: transparent;

	&:hover {
		border-bottom: 2px solid red;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}

.dishe-card__image {
	display: block;
	box-sizing: border-box;
	padding: 4px;
	margin: 0 auto;
	background: map-get($colors, 'secondary');
	transition: transform 2s ease 0s;
	@include image(100%, auto);

	&:hover {
		transform: scale(1.1, 1.1);
		padding: 2px;
	}
}

.dishe-card__title {
	@include title(
  	8px 0, 
  	20px 0, 
  	map-get($fonts-family, 'main'),  
  	13px, 
  	map-get($fonts-weight, 'normal'),  
  	center,
  	map-get($colors, 'complementary')
	)
}


.event-card {

	@include card-container(
		100%, 
		auto, 
		0, 
		0 0 29px 16px, 
		map-get($colors, 'background')
	);
	@include display-grid;
	@include grid-template-columns(grid-repeat(3));
	@include grid-template-rows(grid-repeat(2, 50px));

	&:first-child {
		margin: 0 0 50px;
		@include grid-template-columns(grid-repeat(3));
		@include grid-template-rows(grid-repeat(5, 50px));
	}
}

.event-card__image {
	object-fit: cover;
	border-radius: 3px;
	@include image(100%, 100%);
	@include grid-row(1, 3);
}

.event-card__image-cover-page {
	object-fit: cover;
	border-radius: 3px;
	@include image(100%, 100%);
	@include grid-row(1, 6);
	@include grid-column(1, 4);
}

.event-card__title {
	@include title(
  	0 0 0 20px, 
  	0 0 15px, 
  	map-get($fonts-family, 'main'),  
  	16px, 
  	map-get($fonts-weight, 'normal'),  
  	left,
  	map-get($colors, 'main')
	);
	@include grid-column(2, 4);
	@include grid-align-self(center);
}

.event-card__description {
	padding-left: 20px;
	@include text(
		map-get($fonts-family, 'main'), 
		13px, 
		normal, 
		map-get($colors, 'complementary'),
		left
	);
	@include grid-row(2, 3);
	@include grid-column(2, 4);
}