.home-body-container {
	padding: 
		map-get($padding-content-container, 'topBottom') 
		map-get($padding-content-container, 'leftRight');
	background-color: map-get($colors, 'background');
}


.welcome {
	height: 578px;
	padding: 
		map-get($padding-section, 'topBottom')
		map-get($padding-section, 'leftRight'); 
	//the 	width of this block is 100% of viewport
	//With margin-left negative we delete the padding left initial of parent
	margin-left: - map-get($padding-content-container, 'leftRight') ; 
	@include section-background(
		'../images/welcome-background.jpg', 
		map-get($colors, 'complementary')
	);
	
}

.welcome__title {
	position: relative;
	@include title(
  	0, 
  	0 0 20px, 
  	map-get($fonts-family, 'main'), 
  	24px, 
  	map-get($fonts-weight, 'normal'), 
  	center, 
 	 map-get($colors, 'secondary')
	);

}

.welcome__text {
	position: relative;
	@include text(
		map-get($fonts-family, 'main'), 
		15px, 
		24px, 
		map-get($colors, 'secondary')
	);
}