.home-body-container {
	padding: 
		map-get($padding-content-container, 'topBottom') 
		map-get($padding-content-container, 'leftRight');
	background-color: map-get($colors, 'background');
}


.welcome {
	height: 578px;
	text-align: center;
	padding: 
		map-get($padding-section, 'topBottom')
		map-get($padding-content-container, 'leftRight'); 
	//the 	width of this block is 100% of viewport
	//With margin-left negative we delete the padding left initial of parent
	margin: 
		0
		delete-padding-parent( map-get($padding-content-container, 'leftRight')); 
	@include section-background(
		'../images/welcome-background.jpg', 
		map-get($colors, 'complementary')
	);
}

.welcome__title {	
	position: relative;
	@include section-title(map-get($colors, 'secondary'));

}

.welcome__text {
	margin-bottom: 35px;
	position: relative;
	@include text(
		map-get($fonts-family, 'main'), 
		15px, 
		24px, 
		map-get($colors, 'secondary'),
		center
	);
}
 
.welcome__link {
	position: relative;
	@include link-button(
		8px 
		20px, 
		0, 
		1px solid map-get($colors, 'main'),
		map-get($colors, 'secondary'),
		map-get($colors, 'main')
	);
}

.gastronomy {
	@include section-page;
}

.gastronomy__title {
	@include section-title(map-get($colors, 'complementary'));
}