/****************************
*********** COMPONENTS ********
*****************************/

@mixin image($width, $height) {
  width: $width;
  height: $height;
}

@mixin title(
  $padding, 
  $margin, 
  $font-family, 
  $font-size, 
  $font-weight, 
  $text-align, 
  $color
) {
  
  padding: $padding;
  margin: $margin;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;
}

@mixin text(
  $font-family, 
  $font-size, 
  $line-height, 
  $color, 
  $text-align: center
) {

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-align: $text-align;

}

@mixin link-button($padding, $margin, $border, $color, $background) {
 
  display: inline-block;
  text-decoration: none;
  padding: $padding;
  margin: $margin;
  border: $border;
  color: $color;
  background: $background;

}

@mixin card-container($width, $height, $padding, $margin, $background) {
  
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
  background: $background;

}

@mixin underline {
  
  display: block;
  width: 50%;  
  margin: 10px auto 50px;
  position: relative;  
  border-top: 1px solid map-get($colors, 'background');

}

@mixin underline--dark {
 border-top: 1px solid map-get($colors, 'complementary'); 
}

@mixin undeline__style {

  display: block;
  box-sizing: border-box;
  width: 9px;  
  height: 9px;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  left: 50%;
  border-radius: 20px;
  border: 1px solid map-get($colors, 'secondary');
  background-color: map-get($colors, 'secondary');
    
}

@mixin underline__style--dark {
  border: 1px solid map-get($colors, 'complementary');
  background-color: map-get($colors, 'complementary');
}



/****************************
*********** ELEMENTS OF PAGES  **********
*****************************/
@mixin section-page {
	padding: 
		map-get($padding-section, 'topBottom')
		map-get($padding-section, 'leftRight')
    0; 
}

@mixin section-title($color) {
  @include title(
  	0, 
  	0 0 20px, 
  	map-get($fonts-family, 'main'), 
  	24px, 
  	map-get($fonts-weight, 'normal'), 
  	center, 
 	  $color
	);
}


@mixin section-background($image, $color) {
  padding: 
		map-get($padding-section, 'topBottom')
		map-get($padding-content-container, 'leftRight'); 
	//the 	width of this block is 100% of viewport
	//With margin-left negative we delete the padding left initial of parent
	margin: 
		0
		delete-padding-parent( map-get($padding-content-container, 'leftRight')); 
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url($image);  
  background-color: $color;
  
  &::before  {    
    
    content:' ';
	  position: absolute;
    top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: #000;
    opacity: 0.7;

  }

}

/****************************
*********** FLEXBOX  **********
*****************************/
@mixin display-flex {
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction-row {
  flex-direction: row;
}

@mixin flex-direction-column {
  flex-direction: column;
}

/****************************
*********** GRID  **********
*****************************/

// Ensure CSS grid works with IE 11 spec.
// https://css-tricks.com/browser-compatibility-css-grid-layouts-simple-sass-mixins/
// sass-lint:disable no-vendor-prefixes, no-duplicate-properties
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

// $columns values should be delimited by a space
@mixin grid-template-columns($columns...) {
  -ms-grid-columns: $columns;
  grid-template-columns: $columns;
}

// $rows values should be delimited by a space
@mixin grid-template-rows($rows...) {
  -ms-grid-rows: $rows;
  grid-template-rows: $rows;
}

@mixin grid-column($col-start, $col-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  grid-column: #{$col-start} / #{$col-end};
}

@mixin grid-row($row-start, $row-end) {
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-row: #{$row-start} / #{$row-end};
}

@mixin grid-gap($gap) {
  gap: $gap;
}

@mixin grid-gap-column($gap) {
  column-gap: $gap;
}

@mixin grid-gap-row($gap) {
  row-gap: $gap;
}

@mixin grid-align-self($value) {
  -ms-grid-row-align: $value;
  align-self: $value;
}

@mixin grid-justify-self($value) {
  -ms-grid-column-align: $value;
  justify-self: $value;
}


