/****************************
*********** ELEMENTS ********
*****************************/

@mixin image($width, $height) {
  width: $width;
  height: $height;
}

@mixin title(
  $padding, 
  $margin, 
  $font-family, 
  $font-size, 
  $font-weight, 
  $text-align, 
  $color
) {
  
  padding: $padding;
  margin: $margin;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;
}

@mixin text(
  $font-family, 
  $font-size, 
  $line-height, 
  $color, 
  $text-align: center
) {

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-align: $text-align;

}

@mixin link-button($padding, $margin, $border, $color, $background) {
 
  display: inline-block;
  text-decoration: none;
  padding: $padding;
  margin: $margin;
  border: $border;
  color: $color;
  background: $background;

}

@mixin card-container($width, $height, $padding, $margin, $background) {
  
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
  background: $background;

}

@mixin underline() {
  
  display: block;
  width: 50%;  
  margin: 10px auto 50px;
  position: relative;  
  border-top: 1px solid #E1E1E1;

}


@mixin undeline-style() {

  display: block;
  width: 9px;  
  height: 9px;
  margin-left: -5px;
  margin-top: -6px;
  position: absolute;
  left: 50%;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
    
}



/****************************
*********** PAGES **********
*****************************/

@mixin section-background($image, $color) {
  
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url($image);  
  background-color: $color;
  
  &::before  {    
    
    content:' ';
	  position: absolute;
    top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: #000;
    opacity: 0.7;

  }

}

