$colors: ( 
	main: #f03e3e, 
	secondary: #fff, 
	complementary: #364558, 
	background: #f1f3f5
);

$fonts-family: ( 
	main: 'PT Sans', 
	secondary: sans-serif, 
	complementary: 'Roboto',
	elegance: 'Pacifico'
);

$fonts-weight: (
	normal: 400,
	bold: 600
);

$padding-content-container: (
	topBottom: 50px,
	leftRight: 20px
);

$padding-section: (
	topBottom: 50px,
	leftRight: 0px
);